<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer-content">
    <footer class="footer" style="text-align: center">
        2018 © <a class th:href="@{https://github.com/luckly1/blog}" target="_blank">luckly</a><div class=""></div>
    </footer>
</div>
<body th:fragment="footer">
<script th:src="@{//cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/js/sweetalert.min.js}"></script>
<script th:src="@{/admin/js/jquery.app.js}"></script>
<script th:src="@{/admin/js/base.js}"></script>
</body>
</html>